# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Model artifacts
models/*.joblib
models/*.pkl

# Local data
data/*.csv
data/*.xlsx
data/*.parquet

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
